<section id="about-us">
  <div class="container">

    <header class="section-header">
      <h3>About Us</h3>
      <p>Not only do we know how to find the road to business growth, we’ll be right by your side, taking the path with
        you. It’s always better to head into the unknown with someone who’s done it before. We provide the guidance,
        the tools and the best chance to succeed.
      </p>
    </header>

    <div class="row">

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="/assets/img/about-mission.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-speedometer"></i></div>
          </div>
          <h2 class="title"><b>Our Approach</b></h2>
          <p>Our service includes providing the right talent to help identify gaps and opportunities, generate a
            comprehensive
            report that includes a project plan with timelines and milestones, a cost analysis, and a schedule.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-list-box"></i></div>
          </div>
          <h2 class="title"><b>Our Plan</b></h2>
          <p>Outsource our fully trained engineers</p>
          <div>
            <ul>
              <li>Java-based frameworks</li>
              <li>Open-source technologies</li>
              <li>Cloud-based development</li>
              <li>End-to-end integration</li>
              <li>Networks and systems security</li>
              <li>Database and warehouse technology</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-eye"></i></div>
          </div>
          <h2 class="title"><b>Our Vision</b></h2>
          <p>
            Building high-performance teams at your terms. Enabling you towWork with hand-selected talent, customized to
            fit your needs at scale. Fill a missing skill set or role on your team and everage a fully-managed team,
            operating using agile best practices.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
