<section id="about-us">
  <div class="container">

    <header class="section-header">
      <h3>About Us</h3>
      <p>After 10 years in the IT industry, we decided to alter direction. Now, we share use our experience to help
        others. Our ramp up process is designed to empower your technical team and outfit them with the tools they need
        to succeed</p>
    </header>

    <div class="row">

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="/assets/img/about-mission.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-speedometer"></i></div>
          </div>
          <h2 class="title"><a>Our Approach</a></h2>
          <p>Our service includes a comprehensive consult to help identify gaps and opportunities, a comprehensive
            report that includes a project plan with timelines and milestones, a cost analysis, and a schedule. We also
            offer a suite of quality products that will help you get there quickly and smoothly.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-list-box"></i></div>
          </div>
          <h2 class="title"><a>Our Plan</a></h2>
          <div>
            <ul>
              <li>Java-based frameworks</li>
              <li>Open-source technologies</li>
              <li>Cloud-based development</li>
              <li>End-to-end integration</li>
              <li>Networks and systems security</li>
              <li>Database and warehouse technology</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-eye"></i></div>
          </div>
          <h2 class="title"><a>Our Vision</a></h2>
          <p>
            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione
            voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
