<div id="our-services" class="section section-dark section-nucleo-icons backdrop">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Service</h2><br/>
          <p class="description mb-4">
            Get Local IT Talent in 48 Hours or Less.
            Does your business need a database architect? Salesforce® developer? Network engineer or Software Developer?
            Save time, money, and resources by allowing our experts find the IT talent your business needs.
          </p>
          <br/>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-6">
          <!--<div class="icon"><i class="ion-ios-analytics"></i></div>-->
          <h4 class="title"><b>Talk to Our Experts</b></h4>
          <p class="description">Directors of Engineering, Design, Finance, and Project Management will work with you to
            understand your goals, technical needs, and team dynamics.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <!--<div class="icon"><i class="ion-ios-bookmarks"></i></div>-->
          <h4 class="title"><b>Hand-Select the Talent</b></h4>
          <p class="description">Within hours, we will present you with the best talent available for your project.
            Average time to match is under 48 hours.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <!--<div class="icon"><i class="ion-ios-paper"></i></div>-->
          <h4 class="title"><b>Guaranteed Fit</b></h4>
          <p class="description">We take great pride in training our talent with the right skill sets, ensuring
            they’re the right fit before starting the engagement.</p>
        </div>
      </div>
    </div>
</div>
