<div id="home-carousel" class="page-carousel">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="page-header section-dark carousel-image-1">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">User Centric</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Have the user right at the center</h2>
          </div>
        </div>
        <div class="moving-clouds"></div>
      </div>
      <div class="carousel-caption">
        <h3>Always stay connected to your users</h3>
        <p>Use design thinking places for your user at the center of product development cycles, ensuring you deliver a
          valuable and intuitive user experience that masks any behind-the-scenes organizational complexity</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="page-header section-dark carousel-image-2">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">Interaction</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Create seamless digital/physical interactions</h2>
          </div>
        </div>
        <div class="moving-clouds"></div>
      </div>
      <div class="carousel-caption">
        <h3>Think beyond the traditional channels of a browser or an app</h3>
        <p>Utilize and experiment with emerging technologies, such as voice, augmented reality, sensors, and
          artificial intelligence to remove boundaries between digital and real-world experiences</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="page-header section-dark carousel-image-3">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">Data Driven</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Improve digital experience using data</h2>
          </div>
        </div>
        <div class="moving-clouds"></div>
      </div>
      <div class="carousel-caption">
        <h3>Learn new ways to empower your org, employees & customers digital exp using data</h3>
        <p>Approaching product innovation with a data-driven mindset will save you from spending millions of dollars
          and building the wrong thing</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="page-header section-dark carousel-image-4">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand">
              <h1 class="presentation-title">Startup Mindset</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Operate like a startup at scale</h2>
          </div>
        </div>
        <div class="moving-clouds"></div>
      </div>
      <div class="carousel-caption">
        <h3>Operating in silos is the antithesis of urgency and agility</h3>
        <p>Utilize cross-functional teams with product, design, and technology embedded together to own products
          end-to-end thereby enabling your legacy enterprise to operate like a digital native</p>
      </div>
    </ng-template>

  </ngb-carousel>

</div>
