.carousel-image-1 {
  background-image: url('/assets/img/intro-carousel/1.jpg');
}

.carousel-image-2 {
  background-image: url('/assets/img/intro-carousel/2.jpg');
}

.carousel-image-3 {
  background-image: url('/assets/img/intro-carousel/3.jpg');
}

.carousel-image-4 {
  background-image: url('/assets/img/intro-carousel/4.jpg');
}

.carousel-image-5 {
  background-image: url('/assets/img/intro-carousel/5.jpg');
}

.carousel-image-6 {
  background-image: url('/assets/img/antoine-barres.jpg');
}
