<nav #navbar class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">The Space Consulting</a>

      <button #toggleButton
              class="navbar-toggler"
              (click)="sidebarToggle()"
              type="button"
              aria-controls="navbarToggler"
              [attr.aria-expanded]="!isNavbarCollapsed"
              aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
             rel="tooltip"
             title="Home"
             appSmoothScroll
             scrollTo="app-carousel"
             (click)="sidebarToggle()">
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             rel="tooltip"
             title="About Us"
             appSmoothScroll
             scrollTo="app-about-us"
             (click)="sidebarToggle()">
            <p>About Us</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             rel="tooltip"
             title="Services"
             appSmoothScroll
             scrollTo="app-our-services"
             (click)="sidebarToggle()">
            <p>Service</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Team">
            <p>Team</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Contact">
            <p>Contact</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
